html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
  height: 100svh;
  font-family: "Google Sans", Arial, sans-serif;
  color: #EFEFF1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  ul, ol {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  img {
    vertical-align: middle;
    height: auto;
    font-style: italic;
    shape-margin: 1rem;
    background: {
      repeat: no-repeat;
      size: cover;
    }
  }

  button {
    cursor: pointer;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
  }

  :focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}