$nav-color: hsl(240, 5%, 7%);
$border-color: hsl(240, 4%, 14%);
$discord-color: hsl(235, 86%, 65%);
$nav-button-color: hsl(240, 3%, 12%);
$chat-color: hsl(240, 9%, 11%);
$border-radius: 12px;
$gap: 8px;

:root {
  --nav-width: 72px;
  --section-width: 303px;
}