header {
  height: 32px;
  grid-column: span 2;
  background: $nav-color;
}

.navigation {
  @include flex(unset, unset);
  background: $nav-color;

  nav {
    @include flex(unset, center, column);
    gap: $gap;
    width: 72px;

    .list-item {
      position: relative;
      width: 100%;
      @include flex;

      .notification {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 0;
        height: 0;
        background: #fbfbfb;
        border-radius: 0 4px 4px 0;
        transition: width .1s ease-in-out, height .1s ease-in-out;
      }

      &.fixed {
        &:not(.no-link)[data-status="selected"] .logo {
          background: $discord-color;
          color: white;
        }

        .logo {
          background: $nav-button-color;
          transition: color .15s ease-out, background .15s ease-out;

          &:active {
            transform: translateY(1px);
          }

          &:hover {
            background: $discord-color;
            color: white;
          }
        }
      }

      .logo {
        width: 40px;
        height: 40px;
        @include flex;
        border-radius: $border-radius;
        cursor: pointer;
      }

      &[data-status="notification"] {
        .notification {
          display: inline-block;
          height: 8px;
          width: 8px;
        }
      }

      &[data-status="selected"] {
        .notification {
          display: inline-block;
          height: 100%;
          width: 8px;
        }
      }

      &:hover:not([data-status="selected"]) {
        .notification {
          display: inline-block;
          height: 20px;
          width: 8px;
        }
      }
    }

    hr {
      width: 32px;
      height: 1px;
      border: none;
      background: $border-color;
    }
  }

  section {
    border: 1px solid $border-color;
    border-bottom: 0;
    border-right: 0;
    width: 303px;
    border-radius: $border-radius 0 0 0;
  }
}